.tickets {
    min-height: 100vh;
    margin-top: 80px;
}

.tickets table th {
    color: #550FED;
}

.modal .modal-body span {
    display: block;
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.modal .modal-body .pay {
    font-size: 1rem;
}