@import "bootstrap-icons/font/bootstrap-icons.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-size: 3rem;
    color: #550FED;
}

.sec {
    width: clamp(300px, 80%, 1100px);
    padding: 30px 15px;
    margin: 0 auto;
}

.modal .modal-header .modal-title {
    color: #550FED;
}

.modal .modal-body span {
    display: block;
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.modal .modal-body .pay {
    font-size: 1rem;
}