.signup .double {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.signup .double a,
.signup .double button {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}